:link,
:visited {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  font-size: 1em;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
a img,
:link img,
:visited img {
  border: none;
}
address {
  font-style: normal;
}
div.print {
  display: none;
}
*:focus {
  outline: none;
}
div.clear {
  width: 100%;
  height: 0px;
  font-size: 1px;
  line-height: 1px;
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
div.pageBreak {
  display: none;
}
.hidden,
.hide {
  display: none;
}
html {
  -webkit-text-size-adjust: none;
}
textarea {
  resize: none;
}
/**
    Vaste vars
*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
    HTML & Body
*/
body {
  background: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**
    Headers
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: bold;
}
/**
    Basis tekstelementen
*/
/**
    Hyperlinks
*/
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
  color: blue;
}
a:hover {
  text-decoration: none;
  color: green;
}
/**
    Lijsten
*/
ul,
ol {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}
/**
    Formulier-elementen
*/
/**
    Tabellen
*/
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead tr th {
  vertical-align: top;
  text-align: left;
}
table tbody tr td {
  vertical-align: top;
  text-align: left;
}
/**
	Foutmelding, feedback en mededeling
*/
div.fout,
div.feedback,
div.mededeling {
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
div.fout ul,
div.feedback ul,
div.mededeling ul {
  margin: 15px 0 0 0;
}
div.fout {
  background: #F2DEDE;
  color: #B84A47;
}
div.fout a {
  color: #B84A47;
}
div.feedback {
  background: #DFF780;
  color: #8CAA1D;
}
div.feedback a {
  color: #8CAA1D;
}
div.mededeling {
  background: #ffffb2;
  color: #CC6600;
}
div.mededeling a {
  color: #CC6600;
}
/**
    Classes om afbeeldingen rechts of links uit te lijnen (CKeditor)
*/
.afbeelding_links {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.afbeelding_rechts {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}
/**
    Deze styles zijn als test om de gridpak te tonen binnen de skeleton en mogen
    verwijderd worden.
*/
.col {
  min-height: 50px;
}
.breed {
  background: yellow;
}
.kwart {
  background: red;
}
.derde {
  background: blue;
}
.smal {
  background: green;
}
.zesde {
  background: #0000c5;
  background: -moz-linear-gradient(top, darkblue 0%, blue 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, darkblue), color-stop(100%, blue));
  background: -webkit-linear-gradient(top, darkblue 0%, blue 100%);
  background: -o-linear-gradient(top, darkblue 0%, blue 100%);
  background: -ms-linear-gradient(top, darkblue 0%, blue 100%);
  background: linear-gradient(to bottom, darkblue 0%, blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darkblue', endColorstr='blue', GradientType=0);
  color: #fff;
}
.tweederde {
  background: aqua;
}
.tekst {
  background: #e1e1e1;
}
.een {
  background: #333333;
  color: white;
}
.twee {
  background: #4d4d4d;
  color: white;
}
.drie {
  background: #666666;
  color: white;
}
.vier {
  background: #808080;
}
.vijf {
  background: #999999;
}
.zes {
  background: #b3b3b3;
}
.hover {
  background: #159776;
}
.hover:hover {
  background: #128165;
}
.col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
@media screen and (min-width: 0px) and (max-width: 469px) {
  .col {
    margin-left: 1%;
    padding: 0 3%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span_1,
  .smal,
  .kwart {
    width: 49.5%;
  }
  .span_2,
  .zesde,
  .derde,
  .tweederde,
  .breed {
    margin-left: 0;
    width: 100%;
  }
  .row .smal:nth-child(2n+1),
  .row .kwart:nth-child(3) {
    margin-left: 0;
  }
  body {
    font-size: 13px;
    line-height: 1.6em;
  }
  h1 {
    font-size: 33px;
    line-height: 1.6em;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 29px;
    line-height: 1.6em;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 23px;
    line-height: 1.6em;
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 20px;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 470px) and (max-width: 749px) {
  .col {
    margin-left: 1%;
    padding: 0 2%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span_1,
  .smal,
  .zesde {
    width: 15.8333333333%;
  }
  .span_2,
  .derde {
    width: 32.6666666667%;
  }
  .span_3,
  .kwart {
    width: 49.5%;
  }
  .span_4,
  .tweederde {
    width: 66.3333333333%;
  }
  .span_5 {
    width: 83.1666666667%;
  }
  .span_6,
  .breed {
    margin-left: 0;
    width: 100%;
  }
  .row .smal:nth-child(7),
  .row .kwart:nth-child(3) {
    margin-left: 0;
  }
  body {
    font-size: 14px;
    line-height: 1.6em;
  }
  h1 {
    font-size: 34px;
    line-height: 1.6em;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 30px;
    line-height: 1.6em;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 24px;
    line-height: 1.6em;
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 20px;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 750px) and (max-width: 959px) {
  .col {
    margin-left: 0.5%;
    padding: 0 1%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span_1,
  .smal {
    width: 7.875%;
  }
  .span_2,
  .zesde {
    width: 16.25%;
  }
  .span_3,
  .kwart {
    width: 24.625%;
  }
  .span_4,
  .derde {
    width: 33.0%;
  }
  .span_5 {
    width: 41.375%;
  }
  .span_6 {
    width: 49.75%;
  }
  .span_7 {
    width: 58.125%;
  }
  .span_8,
  .tweederde {
    width: 66.5%;
  }
  .span_9 {
    width: 74.875%;
  }
  .span_10 {
    width: 83.25%;
  }
  .span_11 {
    width: 91.625%;
  }
  .span_12,
  .breed {
    margin-left: 0;
    width: 100%;
  }
  body {
    font-size: 15px;
    line-height: 1.6em;
  }
  h1 {
    font-size: 35px;
    line-height: 1.6em;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 31px;
    line-height: 1.6em;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 25px;
    line-height: 1.6em;
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 20px;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 960px) {
  .col {
    margin-left: 0.5%;
    padding: 0 1%;
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .span_1,
  .smal {
    width: 7.875%;
  }
  .span_2,
  .zesde {
    width: 16.25%;
  }
  .span_3,
  .kwart {
    width: 24.625%;
  }
  .span_4,
  .derde {
    width: 33.0%;
  }
  .span_5 {
    width: 41.375%;
  }
  .span_6 {
    width: 49.75%;
  }
  .span_7 {
    width: 58.125%;
  }
  .span_8,
  .tweederde {
    width: 66.5%;
  }
  .span_9 {
    width: 74.875%;
  }
  .span_10 {
    width: 83.25%;
  }
  .span_11 {
    width: 91.625%;
  }
  .span_12,
  .breed {
    margin-left: 0;
    width: 100%;
  }
  body {
    font-size: 16px;
    line-height: 1.6em;
  }
  h1 {
    font-size: 36px;
    line-height: 1.6em;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 32px;
    line-height: 1.6em;
    margin-bottom: 6px;
  }
  h3 {
    font-size: 26px;
    line-height: 1.6em;
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 20px;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 30px;
  }
}
#popup {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  text-align: left;
  font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333333;
  font-size: 14px;
}
#popup-sluiten {
  background: url(../images/layout/bg_popup.png) no-repeat 0 0;
}
